MERCADO_PAGO_ENVIRONMENT=test

PORT=3001
MONGODB_URI=mongodb://localhost:27017/an-event
CLIENT_URL=http://localhost:8080

MERCADO_PAGO_ACCESS_TOKEN=APP_USR-SEU_ACCESS_TOKEN
PIX_NOTIFICATION_URL=
MP_QR_MODE=static
MP_STATIC_QR_DATA=
MP_STORE_ID=12345678
MP_POS_EXTERNAL_ID=LOJ001POS001
MP_STORE_EXTERNAL_ID=LOJ001
MP_STORE_NAME=An event
